*.suo
*.ncb
*.bak
*.user
*.user.*
*.so
*.o
*.lib
*.obj
*.pdb
*.exp
*.ilk
*.dll
Makefile
Makefile.Debug
Makefile.Release
GeneratedFiles/*
generated_files/*
Release/*
Src/generated_files/*
Src/NoteBook/build-*/*
Src/ImportTiddlyWiki/build-ImportTiddlyWiki-Qt_5-*
Src/ImportNoteBook/build-ImportNoteBook-Qt_5-*
Src/ImportNoteBook/generated_files/*
Src/NoteBook/generated_files/*
Src/ImportNoteBook/build-ImportNoteBook-Desktop-*
Src/ImportTiddlyWiki/build-ImportTiddlyWiki-Desktop-*
Src/ImportTiddlyWiki/generated_files/*
Src/build-*/*
Src/NoteBook/NoteBook/build-test-*
Src/NoteBook/NoteBook/test/CMakeFiles/*
CMakeCache.txt
cmake_install.cmake
*.cbp
*.db
test_automoc.cpp
Src/NoteBook/NoteBook/test/test
Src/NoteBook/NoteBook/test/Makefile
moc_*.cpp
